@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body
h1 {text-align: center; font-family: 'Open Sans Condensed'; font-size: 36px}
h2 {text-align: center; font-family: 'Open Sans Condensed'; font-size: 26px}
p {text-align: center; font-family: 'Raleway'; font-size: 16px}
#wrapper{ width:95%; height: 80%; margin: 0 auto; border: 1px solid dimgray;}
#intern { width: 80%; height: 80%; margin: 0 auto; border: 1px solid dimgray;}
#main {text-align: center; font-family: 'Open Sans Condensed'; font-size: 18px}
li {
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    margin-left:240px;font-family: 'Open Sans Condensed';font-size: 20px}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
p {text-align: center; font-family: 'Open Sans Condensed'; font-size: 15px}

}
footer {{text-align: center; font-family: 'Open Sans Condensed'; font-size: 15px}}
